<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Subscribe</title>
   </head>
   <body>
      <h1>Subscribe to our mailing list</h1>
      <form action="/api/subscribe" method="post">
         <label for="email">Email address : </label> <input type="email" name="email" id="email" /><br />
         <label for="frequency">Email frequency : </label
         ><select name="frequency" id="frequency">
            <option value="D">Daily</option>
            <option value="W">Weekly</option>
            <option value="M">Monthly</option>
            <option value="A">Annually</option></select
         ><br />
         <input type="submit" value="Subscribe" /><br />
      </form>
   </body>
</html>
